<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outpost.common.iso.repository.CountrySubdivisionStaticDataReadMapper">
  <select id="findAll" resultType="com.outpost.common.iso.repository.CountrySubdivisionRecord">
    SELECT country_subdivision_id, country_id, code, name FROM country_subdivision ORDER BY country_subdivision_id
  </select>
</mapper>
