<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outpost.account.configuration.repository.mybatis.MerchantPspMapper">
  <select id="isPspEnabled" resultType="boolean">
    SELECT EXISTS (
      SELECT 1
        FROM merchant_psp
       WHERE account_id = #{merchantAccountId}
         AND psp_account_id = #{pspAccountId}
    )
  </select>

  <select id="findEnabledPspAccountIds" resultType="long">
    SELECT merchant_psp.psp_account_id
      FROM merchant_psp
      JOIN account psp ON psp.account_id = merchant_psp.psp_account_id
     WHERE merchant_psp.account_id = #{merchantAccountId}
     ORDER BY psp.code
  </select>
</mapper>
