<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outpost.gateway.tax.repository.mybatis.TaxRateProviderRepositoryMapper">
  <select id="findAll" resultType="com.outpost.gateway.tax.repository.mybatis.TaxRateEntity">
    SELECT c.iso_code AS country_code,
           cs.code AS subdivision_code,
           tr.rate
    FROM tax_rate tr
    JOIN country c ON c.country_id = tr.country_id
    LEFT JOIN country_subdivision cs
      ON cs.country_id = tr.country_id
     AND cs.country_subdivision_id = tr.country_subdivision_id
  </select>
</mapper>
