<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outpost.platform.staticdata.job.repository.CurrencyWriteMapper">
  <insert id="insert" parameterType="com.outpost.common.iso.repository.CurrencyRecord">
    INSERT INTO currency (currency_id, currency_code, exponent)
    VALUES (#{currencyId}, #{currencyCode}, #{exponent})
  </insert>
</mapper>
