<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.outpost.platform.staticdata.job.payment.PspEventCodeWriteMapper">
  <select id="findAll" resultType="com.outpost.payment.repository.PspEventCodeRecord">SELECT psp_event_code_id, code FROM psp_event_code ORDER BY psp_event_code_id</select>
  <insert id="insert" parameterType="com.outpost.payment.repository.PspEventCodeRecord">INSERT INTO psp_event_code (psp_event_code_id, code) VALUES (#{pspEventCodeId}, #{code})</insert>
</mapper>
